.stepper-footer {
    position: relative;
   
    width: 100%;    
    height: 50px;
    border: 0;
    left: 0;
    right: 0;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.stepper-footer-container {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
        align-items: center;
        justify-content: flex-start;
}

.stepper-footer-back {
    margin-right: 15px;
}