.stepper-header {
    position: fixed;
    top: 90px;
    width: 100%;
    height: 126px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.stepper-header-inner-frame {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.stepper-header-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.stepper-header-breadcrumb .stepper-tab {
    margin-right: 16px;
}

.stepper-header-breadcrumb-paging {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}