@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
    body {
        @apply bg-white text-neutral-900 font-sans;
    }
}

/* Custom component styles */
@layer components {
    /* Add any global component styles here */
}

/* Custom utilities */
@layer utilities {
    /* Add any custom utilities here */
}