.stepper-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepper-content {
    width: 100%;
}

.stepper-content-steps {
    display: flex;
    flex-direction: row;

}

.stepper-paging {
    bottom: 60px;
    width: 100%;
    height: 50px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

}

.separator {
    width: 10px;
    height: 2px;
}